#menu-list .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem 1rem;
}
#menu-list .wrapper .menu-container {
  perspective: 400px;
  perspective-origin: center right;
  background-color: var(--clr-primary);
  width: 18rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(18, 18, 18, 0.2);
}
#menu-list .wrapper .menu-container .wrapper1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: transform 500ms 200ms;
}
#menu-list .wrapper .menu-container .wrapper1::before {
  display: block;
  content: "";
  padding-bottom: 100%;
}
#menu-list .wrapper .menu-container .wrapper1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  transition: filter 500ms 200ms;
}
#menu-list .wrapper .menu-container .wrapper1 .text {
  position: absolute;
  color: white;
  z-index: 2;
  top: 50%;
  margin: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms 200ms;
  transform: translateY(-50%) rotateY(180deg);
}
#menu-list .wrapper .menu-container .wrapper2, #menu-list .wrapper .menu-container .add {
  padding: 1rem 1rem 0;
}
#menu-list .wrapper .menu-container .wrapper2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu-list .wrapper .menu-container .wrapper2 h2 {
  text-transform: capitalize;
}
#menu-list .wrapper .menu-container .add {
  text-align: right;
}
#menu-list .wrapper .menu-container .add button {
  padding: 0.5rem 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--clr-neutral);
  color: white;
}
#menu-list .wrapper .menu-container:hover .wrapper1 {
  transform: rotateY(180deg);
}
#menu-list .wrapper .menu-container:hover .wrapper1 img {
  filter: brightness(30%);
}
#menu-list .wrapper .menu-container:hover .wrapper1 .text {
  opacity: 1;
}